{% extends 'base.html' %} {% load static %}

{% block content %}
<h1>Dessert Collector</h1>
<hr />
<p class="pages">You're ready to entertain. The date is set, the theme decided on. You know you want some kind of dessert to finish the meal, but you don't know what to serve.</p>
<p class="pages"> Enter the Dessert Collector</p>
<br>
<img src="{% static 'pexels-delphine-hourlay-691147.jpg' %}" alt="chocolate mousse Photo by Delphine Hourlay: https://www.pexels.com/photo/food-photography-of-a-baked-cake-on-white-ceramic-palte-691147/" height="550px">
<img src="{% static 'pexels-mister-mister-5677282.jpg' %}" alt="creme brulee Photo by Mister Mister: https://www.pexels.com/photo/sweet-creme-brulee-in-white-bowl-5677282/" height="550px">
<img src="{% static 'pexels-adnan-pervaiz-18646646.jpg' %}" alt="tirmisu Photo by Adnan  Pervaiz : https://www.pexels.com/photo/how-about-a-tiramisu-cake-for-today-18646646/" height="550px">


{% endblock %}